* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Hanken Grotesk", sans-serif;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.attribution {
  width: 70rem;
  height: 50rem;
  margin: 20rem auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 3rem;
}

.score-chart {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.your-result {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 2.2rem;
  color: hsl(241, 100%, 89%);
}

.circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.circle-number {
  font-size: 5.5rem;
  color: #fff;
}

.circle-description {
  color: hsla(241, 100%, 89%, 60%);
  font-size: 1.6rem;
}

.score-chart--heading {
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.score-chart--text {
  font-size: 1.8rem;
  text-align: center;
  width: 65%;
  color: hsl(241, 100%, 89%);
}

.points {
  padding: 3.6rem 2.8rem;
}

.points-heading {
  color: hsl(224, 30%, 27%);
  font-size: 2.4rem;
  margin-bottom: 2.8rem;
}

.reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 100%, 67%, 10%);
  padding: 1.6rem 1.6rem;
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

.flex-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.reaction-icon {
  stroke: hsl(0, 100%, 67%);
}

.reaction-heading {
  font-size: 1.8rem;
  color: hsla(0, 100%, 67%, 80%);
  font-weight: 700;
}

.point {
  font-size: 1.8rem;
  font-weight: 800;
  color: #999;
}

.score {
  color: #333;
}

.memory {
  background-color: hsla(39, 100%, 56%, 10%);
  padding: 1.6rem 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.memory-icon {
  stroke: hsl(39, 100%, 56%);
}

.memory-heading {
  font-size: 1.8rem;
  color: hsla(39, 100%, 56%, 80%);
  font-weight: 700;
}

.verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  padding: 1.6rem 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.verbal-icon {
  stroke: hsl(166, 100%, 37%);
}

.verbal-heading {
  font-size: 1.8rem;
  color: hsla(166, 100%, 37%, 80%);
  font-weight: 700;
}

.visual {
  background-color: hsla(234, 85%, 45%, 10%);
  padding: 1.6rem 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.visual-icon {
  stroke: hsl(234, 85%, 45%);
}

.visual-heading {
  font-size: 1.8rem;
  color: hsla(234, 85%, 45%, 80%);
  font-weight: 700;
}

.btn:link,
.btn:visited {
  background-color: hsl(224, 30%, 27%);
  font-size: 2.2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 1.8rem 12rem;
  border-radius: 100px;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  background-color: hsl(252, 100%, 67%);
}

@media (max-width: 375px) {
  .attribution {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    /* row-gap: 10rem; */
  }

  .score-chart {
    padding: 8.2rem;
  }

  .your-result {
    font-size: 3.2rem;
  }

  .circle {
    width: 25rem;
    height: 25rem;
  }

  .circle-number {
    font-size: 8rem;
  }

  .circle-description {
    font-size: 2.4rem;
  }

  .score-chart--heading {
    font-size: 6.2rem;
  }

  .score-chart--text {
    font-size: 2.4rem;
    width: 70%;
  }

  .points-heading {
    font-size: 4.8rem;
  }

  .icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.8rem 28rem;
  }
}
